@page "/Billings/Bazaar/{eventId:guid}"
@model GtKram.Ui.Pages.Billings.BazaarBillingModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["eventId"] as string, out var eventId);

    var statusConverter = new BillingStatusConverter();
    var dateConverter = new GermanDateTimeConverter();
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        @Html.CreateBreadcrumb(new { eventId })

        <h2 class="title is-4">@Model.Event</h2>

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="table-container mt-4">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Erstellt am</th>
                        <th>Kassierer</th>
                        <th>Status</th>
                        <th>Anzahl Artikel</th>
                        <th>Summe</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Items.Any())
                    {
                        <tr>
                            <td colspan="6"><div class="has-text-centered">Keine Kassenvorgänge gefunden.</div></td>
                        </tr>
                    }
                    @foreach (var i in Model.Items)
                    {
                        <tr class="clickable-row" data-url="@(Url.PageLink("Articles", null, new { eventId, id = @i.Billing.Id }))">
                            <td>@dateConverter.ToDateTime(i.Billing.CreatedOn)</td>
                            <td>@i.CreatedBy</td>
                            <td>@statusConverter.StatusToString(i.Billing.Status)</td>
                            <td>@i.ArticleCount</td>
                            <td>@i.Total.ToString("0.00") €</td>
                            <td>
                                <a href="@(Url.PageLink("Articles", null, new { eventId, id = @i.Billing.Id }))">Artikel</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</section>

@await Html.PartialAsync("_Footer")

@section Scripts {
    <script type="text/javascript">
    $(function () {
        $(".clickable-row").click(function (e) {
            e.stopPropagation();
            window.location = $(this).data("url");
        });
    });
    </script>
}
