@page
@model GtKram.Ui.Pages.Billings.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();

    var eventConverter = new EventConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Kinderbasar</th>
                        <th>Kassenvorgänge</th>
                        <th>Summe / Provision</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Items.Any())
                    {
                        <tr>
                            <td colspan="4"><div class="has-text-centered">Keine Kinderbasare gefunden.</div></td>
                        </tr>
                    }
                    @foreach (var i in Model.Items)
                    {
                        <tr class="clickable-row" data-url="@(Url.PageLink("BazaarBilling", null, new { eventId = i.Event.Id }))">
                            <td>@eventConverter.Format(@i.Event)</td>
                            <td>@i.BillingCount</td>
                            <td>
                                @i.SoldTotal.ToString("0.00 €") / @i.CommissionTotal.ToString("0.00 €")
                            </td>
                            <td>
                                <a href="@(Url.PageLink("BazaarBilling", null, new { eventId = i.Event.Id }))">Bearbeiten</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

@await Html.PartialAsync("_Footer")

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".clickable-row").click(function (e) {
                e.stopPropagation();
                window.location = $(this).data("url");
            });
        });
    </script>
}
