@page
@model GtKram.WebApp.Pages.Users.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    var roleConverter = new RoleConverter();
    var dateConverter = new GermanDateTimeConverter();
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="columns is-gapless is-mobile mb-2 is-height-2-5">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb()</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="menu-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="menu-action" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <div>Bestätigt: @Model.UsersConfirmed</div>
                                <div>Unbestätigt: @Model.UsersNotConfirmed</div>
                                <div>Gesperrt: @Model.UsersLocked</div>
                            </div>
                            <hr class="dropdown-divider" />
                            <a href="@(Url.PageLink("CreateUser"))" class="dropdown-item">Benutzer anlegen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            @foreach (var u in Model.Items)
            {
                <div class="list-item">
                    <div class="list-item-image">
                        <i class="far fa-circle-user fa-2x has-text-info"></i>
                    </div>
                    <div class="list-item-content">
                        <div class="list-item-title">@u.Name</div>
                        <div class="list-item-description">
                            <span class="tag is-rounded @(u.IsEmailConfirmed ? "is-success": "is-warning")">@u.Email</span>
                            @if (u.LockoutEndDate.HasValue)
                            {
                                <span class="tag is-rounded is-danger">Gesperrt bis @(dateConverter.ToDateTime(u.LockoutEndDate.Value))</span>
                            }
                            <span class="tag is-rounded">Letzte Anmeldung am @(u.LastLoginDate is not null ? dateConverter.ToDateTime(u.LastLoginDate.Value) : "-")</span>
                            <div class="pt-1">
                                @foreach (var r in u.Roles)
                                {
                                    <span class="tag is-light @roleConverter.RoleToClass(r)"><i class="fa-solid fa-tag"></i>&nbsp;@roleConverter.RoleToString(r)</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="list-item-controls">
                        <div class="buttons is-right">
                            <a class="button" href="@(Url.PageLink("EditUser", null, new { id = u.Id }))">
                                <span class="icon is-small"><i class="fas fa-pen"></i></span>
                            </a>
                            <div class="dropdown is-hoverable is-right">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="row-action">
                                        <span class="icon is-small">
                                            <i class="fas fa-ellipsis-vertical"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="row-action" role="menu">
                                    <div class="dropdown-content">
                                        <a class="confirm-email dropdown-item" href="#"
                                           data-url="@(Url.PageLink(string.Empty, "confirmemail", new { id = u.Id }))">
                                            Bestätigung anfordern
                                        </a>
                                        <a class="dropdown-item open-modal" href="#"
                                           data-target="#resetTwoFactorModal"
                                           data-url="@(Url.PageLink(string.Empty, "resettwofactor", new { id = u.Id }))">
                                            2FA zurücksetzen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</section>

@await Html.PartialAsync("_Footer")

@Html.CreateModalTemplateWithOkCancel(
    "resetTwoFactorModal",
    "2FA zurücksetzen",
    "Möchtest du wirklich die Zwei-Faktor-Authentifizierung für den aktuellen Benutzer zurücksetzen?")

@section Scripts 
{
    <script type="text/javascript">
        $(function () {
            $(".confirm-email").click(function (e) {
                e.preventDefault();
                const url = $(this).data('url');
                $.post(url, {@Html.AjaxCsrfToken()}).done(function (data) {
                    if (data) {
                        createToast('Eine E-Mail-Bestätigung wurde angefordert.');
                    } else {
                        createToast('Eine E-Mail-Bestätigung konnte nicht angefordert werden.', 'is-danger');
                    }
                });
            });

            handleModal({
                id: '#resetTwoFactorModal',
                token: {@Html.AjaxCsrfToken()},
                confirm: {
                    dataurl: 'url',
                    action: function () { window.location.reload(); },
                    toast: {
                        success: 'Die 2FA wurde zurückgesetzt.',
                        failed: 'Die 2FA konnte nicht zurückgesetzt werden.'
                    }
                }
            });

        });
    </script>
}
