@page "/Plannings"
@model GtKram.WebApp.Pages.Plannings.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    var eventConverter = new EventConverter();
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="is-flex mb-2 is-height-2-5 is-align-items-center">
            @Html.CreateBreadcrumb()
        </div>

        <div class="list">
            @if (Model.Items.Length == 0)
            {
                <div>Keine Kinderbasare gefunden.</div>
            }
            @foreach (var i in Model.Items)
            {
                <div class="list-item">
                    <div class="list-item-image">
                        <i class="fas fa-store fa-2x has-text-info"></i>
                    </div>
                    <div class="list-item-content">
                        <div class="list-item-title">@eventConverter.Format(i.Event)</div>
                        <div class="list-item-description">
                            <span class="tag is-rounded">@i.PlanningCount @(i.PlanningCount == 1 ? "Zeitplan" : "Zeitpläne")</span>
                        </div>
                    </div>
                    <div class="list-item-controls">
                        <div class="buttons is-right">
                            <a class="button" href="@(Url.PageLink("Schedules", null, new { eventId = i.Event.Id }))">
                                <span class="icon is-small"><i class="fa-solid fa-magnifying-glass"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</section>

@await Html.PartialAsync("_Footer")
