@page "/Bazaars/{eventId:guid}/SellerRegistration/{id:guid}/Edit"
@model GtKram.Ui.Pages.Bazaars.EditSellerModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["eventId"] as string, out var eventId);
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);

    var sellerConverter = new SellerConverter();
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="is-flex mb-2 is-height-2-5 is-align-items-center">
            @Html.CreateBreadcrumb(new { eventId, id }, new { eventId }, new { id = eventId })
        </div>

        <h1 class="title is-4">@Model.Input.State_Event</h1>

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="columns mt-4">
            <div class="column is-half">

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                        <input type="hidden" asp-for="Input.State_Event" />
                        <div class="field">
                            <label class="label" asp-for="Input.Name"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Name" readonly />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Email"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Email" readonly />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Phone"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Phone" readonly />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.SellerNumber"></label>
                            <div class="control">
                                <input class="input" type="number" asp-for="Input.SellerNumber" />
                            </div>
                            <span asp-validation-for="Input.SellerNumber"></span>
                        </div>
                        <div class="field">
                            <label class="label">@Html.DisplayNameFor(m => m.Input.Role)</label>
                        </div>
                        <div class="field">
                            <input id="checkBoxStandard" type="radio" asp-for="Input.Role" value="@(((int)Domain.Models.SellerRole.Standard).ToString())" />
                            <label for="checkBoxStandard">@sellerConverter.RoleToString(Domain.Models.SellerRole.Standard)</label>

                            <input id="checkBoxHelper" type="radio" asp-for="Input.Role" value="@(((int)Domain.Models.SellerRole.Helper).ToString())" />
                            <label for="checkBoxHelper">@sellerConverter.RoleToString(Domain.Models.SellerRole.Helper)</label>

                            <input id="checkBoxLead" type="radio" asp-for="Input.Role" value="@(((int)Domain.Models.SellerRole.TeamLead).ToString())" />
                            <label for="checkBoxLead">@sellerConverter.RoleToString(Domain.Models.SellerRole.TeamLead)</label>

                            <input id="checkBoxOrga" type="radio" asp-for="Input.Role" value="@(((int)Domain.Models.SellerRole.Orga).ToString())" />
                            <label for="checkBoxOrga">@sellerConverter.RoleToString(Domain.Models.SellerRole.Orga)</label>
                        </div>

                        <div class="field">
                            <label class="label">Kasse</label>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input id="checkBoxCheckout" type="checkbox" asp-for="Input.CanCheckout" />
                                <label for="checkBoxCheckout">@Html.DisplayNameFor(m => m.Input.CanCheckout)</label>
                            </div>
                        </div>

                        <button class="button is-primary" type="submit">Speichern</button>
                        
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")
