@page "/Bazaars/{eventId:guid}/Seller/{id:guid}/Articles"
@model GtKram.Ui.Pages.Bazaars.SellerArticlesModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["eventId"] as string, out var eventId);
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);

    var pageParam = new { eventId, id };
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="columns is-gapless is-mobile mb-2 is-height-2-5">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb(pageParam, pageParam, new { eventId }, new { id = eventId })</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="menu-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="menu-action" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <div>Gesamt: @Model.AvailableCount / @Model.MaxArticleCount</div>
                                <div>Gesamtwert: @Model.AvailableTotalValue.ToString("0.00") €</div>
                                <div>Verkauft: @Model.SoldCount</div>
                                <div>Verkaufswert: @Model.SoldTotalValue.ToString("0.00") €</div>
                                <div>Auszahlung: @Model.PayoutTotalValue.ToString("0.00") €</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="title is-4">@Model.Event</h1>
        <h2 class="subtitle">Verkäufer: @Model.SellerName (#@Model.SellerNumber)</h2>

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="list">
            @if (Model.Items.Length == 0)
            {
                <div>Keine Artikel gefunden.</div>
            }
            @foreach (var i in Model.Items)
            {
                <div class="list-item">
                    <div class="list-item-image">
                        <i class="fas fa-box-archive fa-2x has-text-info"></i>
                    </div>
                    <div class="list-item-content">
                        <div class="list-item-title">@i.Article.Name (#@i.Article.LabelNumber)</div>
                        <div class="list-item-description">
                            @if (!string.IsNullOrWhiteSpace(i.Article.Size))
                            {
                                <span class="tag is-rounded)">@i.Article.Size</span>
                            }
                            <span class="tag is-rounded">@i.Article.Price.ToString("0.00") €</span>
                            @if (i.Checkout?.IsCompleted == true)
                            {
                                <span class="tag is-rounded is-success">Verkauft</span>
                            }
                        </div>
                    </div>

                </div>
            }
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")