@page "/MyBillings/Bazaar/{eventId:guid}"
@model GtKram.Ui.Pages.MyBillings.BazaarBillingModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["eventId"] as string, out var eventId);

    Model.BuildHeaderMenu(new { eventId });

    var statusConverter = new BillingStatusConverter();
    var dateConverter = new GermanDateTimeConverter();
    var createUrl = Url.PageLink(string.Empty, "create", new { eventId });
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb(new { eventId })</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="@createUrl">
                                Kassenvorgang starten
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="subtitle">@Model.Event</h2>

        @if (ModelState.IsValid)
        {
            <div>
                <a href="@createUrl" class="button is-floating is-link">
                    <i class="fas fa-cart-plus"></i>
                </a>
            </div>
        }

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="table-container mt-4">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Erstellt am</th>
                        <th>Status</th>
                        <th>Anzahl Artikel</th>
                        <th>Summe</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Items.Any())
                    {
                        <tr>
                            <td colspan="5"><div class="has-text-centered">Keine Kassenvorgänge gefunden.</div></td>
                        </tr>
                    }
                    @foreach (var i in Model.Items)
                    {
                        <tr class="clickable-row" data-url="@(Url.PageLink("Articles", null, new { eventId, id = @i.Billing.Id }))">
                            <td>@dateConverter.ToDateTime(i.Billing.CreatedOn)</td>
                            <td>@statusConverter.StatusToString(i.Billing.Status)</td>
                            <td>@i.ArticleCount</td>
                            <td>@i.Total.ToString("0.00") €</td>
                            <td>
                                <a href="@(Url.PageLink("Articles", null, new { eventId, id = @i.Billing.Id }))">Bearbeiten</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</section>

@await Html.PartialAsync("_Footer")

@section Scripts {
    <script type="text/javascript">
    $(function () {
        $(".clickable-row").click(function (e) {
            e.stopPropagation();
            window.location = $(this).data("url");
        });
    });
    </script>
}
