@page "/Billings/Bazaar/{eventId:guid}/Articles/{id:guid}"

@model GtKram.Ui.Pages.Billings.ArticlesModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["eventId"] as string, out var eventId);
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);

    Model.BuildHeaderMenu(new { eventId, id });

    var dateConverter = new GermanDateTimeConverter();

    var urlBilling = Url.PageLink("BazaarBilling", null, new { eventId });
    var cancelUrl = Url.PageLink(string.Empty, "cancel", new { id });
    var sumUrl = Url.PageLink(string.Empty, "sum", new { id });
    var completeUrl = Url.PageLink(string.Empty, "complete", new { id });
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb(new { eventId, id }, new { eventId })</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        @if (Model.CanEdit)
                        {
                            <div class="dropdown-content">
                                <a class="dropdown-item open-modal" data-target="#cancelModal" data-url="@cancelUrl" href="#">
                                    Kassenvorgang abbrechen
                                </a>
                                @if (Model.CanComplete)
                                {
                                    <a class="dropdown-item open-modal" data-target="#completeModal" data-sumurl="@sumUrl" data-completeurl="@completeUrl" href="#">
                                        Kassenvorgang abschließen
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (Model.CanEdit)
        {
            <div>
                <a href="#" class="button is-floating is-danger open-modal" style="right:200px" data-target="#cancelModal" data-url="@cancelUrl">
                    <i class="fas fa-thumbs-down"></i>
                </a>
                @if (Model.CanComplete)
                {
                    <a href="#" class="button is-floating is-success open-modal" style="right:280px"
                        data-target="#completeModal" data-sumurl="@sumUrl" data-completeurl="@completeUrl">
                        <i class="fas fa-thumbs-up"></i>
                    </a>
                }
            </div>
        }

        <h2 class="subtitle">@Model.Event</h2>

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="table-container">
            <table id="itemsTable" class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Angelegt am</th>
                        <th>Verkäufernummer</th>
                        <th>Artikelnummer</th>
                        <th>Name</th>
                        <th>Preis</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Length == 0)
                    {
                        <tr>
                            <td colspan="5"><div class="has-text-centered">Keine Artikel gefunden.</div></td>
                        </tr>
                    }
                    @foreach (var i in Model.Items)
                    {
                        <tr>
                            <td>@dateConverter.ToDateTime(i.BillingArticle.CreatedOn)</td>
                            <td>@i.SellerNumber</td>
                            <td>@i.SellerArticle.LabelNumber</td>
                            <td>@i.SellerArticle.Name</td>
                            <td>@i.SellerArticle.Price.ToString("0.00") €</td>
                            <td>
                                @if (Model.CanEdit)
                                {
                                <a class="open-modal" href="#"
                                   data-target="#deleteModal"
                                   data-info="@i.Format()"
                                   data-url="@(Url.PageLink(string.Empty, "delete", new { id = i.BillingArticle.Id }))">Löschen</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")

@Html.CreateModalTemplateWithOkCancel(
    "cancelModal",
    "Kassenvorgang stornieren",
    "Möchtest du wirklich den aktuellen Kassen-Vorgang stornieren?")

@Html.CreateModalTemplateStart("completeModal", "Kassenvorgang abschließen")
<div class="content is-size-4">
    <div>Anzahl: <span class="billingCount">?</span></div>
    <div>Summe: <span class="billingTotal">?</span> €</div>
    <div>Rückgabe: <span class="billingBack">?</span> €</div>
    <hr />
    <p>Erhalten:</p>
    <input class="input" type="number" step="0.01" />
</div>
@Html.CreateModalTemplateEnd(true)

@Html.CreateModalTemplateWithOkCancel(
    "deleteModal",
    "Artikel entfernen",
    @"Möchtest du wirklich den Artikel ""<span class=""article-info""></span>"" entfernen?")

@section Scripts
{
    <script type="text/javascript">
    $(function () {

        handleModal({
            id: '#cancelModal',
            token: {@Html.AjaxCsrfToken()},
            confirm: {
                dataurl: 'url',
                action: function () {
                    window.location = '@Html.Raw(urlBilling)';
                },
                toast: {
                    success: 'Kassenvorgang wurde storniert.',
                    failed: 'Kassenvorgang konnte nicht storniert werden.'
                }
            }
        });

        handleModal({
            id: '#completeModal',
            token: {@Html.AjaxCsrfToken()},
            load: {
                dataurl: 'sumurl',
                action: function(target, data) {
                    target.find('.billingCount').text(`${data.count}`);
                    target.find('.billingTotal').text(`${data.total}`);
                },
                toast: {
                    failed: 'Kassenvorgang konnte nicht geladen werden.'
                }
            },
            confirm: {
                dataurl: 'completeurl',
                action: function () {
                    window.location = '@Html.Raw(urlBilling)';
                },
                toast: {
                    success: 'Kassenvorgang wurde abgeschlossen.',
                    failed: 'Kassenvorgang konnte nicht abgeschlossen werden.'
                }
            }
        });

        $("#completeModal input").on("keyup change", function() {
            const receivedMoney = parseFloat($(this).val().replaceAll(",", "."));
            const totalMoney = parseFloat($('#completeModal').find(".billingTotal").text());
            if (!isNaN(receivedMoney) && receivedMoney > 0.0 && !isNaN(totalMoney) && totalMoney > 0.0 && receivedMoney >= totalMoney) {
                const val = receivedMoney - totalMoney;
                $('#completeModal').find(".billingBack").text(val.toFixed(2));
            } else {
                $('#completeModal').find(".billingBack").text('?');
            }                
        });

        handleModal({
            id: '#deleteModal',
            token: {@Html.AjaxCsrfToken()},
            init: function(target, relatedTarget) {
                const info = relatedTarget.dataset['info'];
                target.find('.article-info').text(info);
            },
            confirm: {
                dataurl: 'url',
                action: function () {
                    window.location.reload();
                },
                toast: {
                    success: 'Artikel wurde entfernt.',
                    failed: 'Artikel konnte nicht entfernt werden.'
                }
            }
        });

    });
    </script>
}
