@page
@model GtKram.Ui.Pages.MyBazaars.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();

    var eventConverter = new EventConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name/Beschreibung</th>
                        <th>Artikel</th>
                        <th>Verkäufernummer</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Length < 1)
                    {
                        <tr>
                            <td colspan="4"><div class="has-text-centered">Keine Teilnahme gefunden.</div></td>
                        </tr>
                    }

                    @foreach (var e in Model.Items)
                    {
                        <tr class="clickable-row" data-url="@(Url.PageLink("Articles", null, new { sellerId = e.Seller.Id }))">
                            <td>@eventConverter.Format(e.Event)</td>
                            <td>@e.ArticleCount / @e.Seller.MaxArticleCount</td>
                            <td>@e.Seller.SellerNumber</td>
                            <td>
                                <a href="@(Url.PageLink("Articles", null, new { sellerId = e.Seller.Id }))">Artikel bearbeiten</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</section>

@await Html.PartialAsync("_Footer")

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $(".clickable-row").click(function (e) {
                e.stopPropagation();
                window.location = $(this).data("url");
            });
        });
    </script>
}
