@page "/Bazaars"
@model GtKram.Ui.Pages.Bazaars.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();
    var dateConverter = new GermanDateTimeConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb()</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <a href="@(Url.PageLink("Add"))" class="dropdown-item">
                                Kinderbasar anlegen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container mt-4">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name/Beschreibung</th>
                        <th>Registrierungen</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Events.Length < 1)
                    {
                        <tr>
                            <td colspan="3"><div class="has-text-centered">Keine Kinderbasare gefunden.</div></td>
                        </tr>
                    }
                    @foreach (var e in Model.Events)
                    {
                        <tr class="clickable-row" data-url="@(Url.PageLink("Edit", null, new { id = e.Id }))">
                            <td>@e.FormatEvent(dateConverter)</td>
                            <td>@e.SellerRegistrationCount</td>
                            <td>
                                <a href="@(Url.PageLink("Edit", null, new { id = e.Id }))">Bearbeiten</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</section>

@await Html.PartialAsync("_Footer")

@section Scripts 
{
    <script type="text/javascript">
        $(function () {

            $(".clickable-row").click(function (e) {
                e.stopPropagation();
                window.location = $(this).data("url");
            });
        });
    </script>
}
