@page "/Bazaars/Seller/{id:guid}/PrintArticles"
@model GtKram.Ui.Pages.Bazaars.PrintSellerArticlesModel
@{
    ViewData["Title"] = "Etiketten drucken";
}

@if (!ModelState.IsValid)
{
    <div class="notification is-danger">
        <button class="delete"></button>
        <div asp-validation-summary="All"></div>
    </div>
}

<table class="table is-bordered is-fullwidth">
    <tbody>
        @for (int i = 0; i < Model.Items.Length; i += 3)
        {
            <tr>
                @foreach (var a in Model.Items.Skip(i).Take(3))
                {
                    <td>
                        <div class="label-wrapper">
                            <div class="columns is-gapless is-multiline">
                                <div class="column is-8">
                                    <img src="~/images/logo.svg" asp-append-version="true" width="180" height="47" />
                                </div>
                                <div class="column is-4">
                                    <span class="is-size-2 has-text-weight-bold">@Model.SellerNumber</span>
                                    <span class="is-size-4 has-text-weight-bold"> / @a.LabelNumber</span>
                                </div>
                                <div class="column is-8">
                                    <div class="columns is-gapless">
                                        <div class="column is-7">
                                            <div class="label-name">@a.Name</div>
                                        </div>
                                        <div class="column is-5">
                                            <p>Euro:</p>
                                            <span class="is-size-4 has-text-weight-bold">@a.Price.ToString("0.00")</span>
                                            <p>Größe:</p>
                                            <span class="is-size-4 has-text-weight-bold">@a.Size</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-4">
                                    <canvas class="qrcode" data-payload="@a.Id"></canvas>
                                </div>
                            </div>
                            <img src="~/images/label-dot.svg" asp-append-version="true" width="25" height="25" class="label-dot" />
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    
    <script type="text/javascript">
        $(function () {
            $(".qrcode").each(function (index, element) {
                const payload = element.dataset['payload'];
                QRCode.toCanvas(element, payload, { errorCorrectionLevel: 'H', width: 118, margin: 1, type: 'svg' });
            });
            window.print();
        });
    </script>
}
