@page "/Bazaars/{id:guid}/Register"
@model GtKram.Ui.Pages.Bazaars.RegisterModel
@{
    ViewData["Title"] = "Registrierung als Verkäufer";
    var clothingConverter = new ClothingConverter();
}

<div class="login-wrapper columns is-gapless">

    <div class="column is-6">
        <div class="hero is-fullheight">
            <div class="hero-heading pt-1 px-6">

                <h1 class="title has-text-centered">
                    @appSettings.Value.HeaderTitle
                </h1>
                <h3 class="subtitle has-text-centered">
                    Herzlichen Willkommen zu unserer Registrierung als Verkäufer.<br />
                    <strong>Wichtig:</strong> Diese Registrierung ist <u class="has-text-danger">keine</u> Garantie für einen Verkäuferplatz!
                </h3>

                @if (Model.BazaarNameAndDescription != null)
                {
                    <div class="has-text-centered">
                        <p><strong>Kinderbasar:</strong> @Model.BazaarNameAndDescription</p>
                        @if (Model.BazaarAddress != null)
                        {
                            <strong>Adresse:</strong> <a target="_blank" rel="noopener noreferrer" href="@("https://www.google.com/maps/dir/?api=1&destination=" + WebUtility.UrlEncode(Model.BazaarAddress))">@Model.BazaarAddress</a>
                        }
                    </div>
                }

                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                @if (Model.Message != null)
                {
                <div class="notification is-success has-text-centered">
                    <button class="delete"></button>
                    @Model.Message
                </div>
                }

            </div>
            <div class="hero-body">

                <div class="column is-three-fifths-fullhd is-offset-one-fifth-fullhd">

                    <div class="box mt-1">

                        <figure class="avatar-big has-text-centered mb-5">
                            <span class="fa-stack fa-4x">
                              <i class="fa-solid fa-circle fa-stack-2x"></i>
                              <i class="fa-solid @Html.RandomFontawesomeFace() fa-stack-1x fa-inverse"></i>
                            </span>
                        </figure>

                        <form method="post">
                            <fieldset disabled="@Model.IsDisabled">
                                <input class="input is-hidden" type="text" asp-for="SellerUserName" />
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Name" autofocus="" asp-for="SellerName" />
                                    </div>
                                    <span asp-validation-for="SellerName"></span>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="email" placeholder="E-Mail-Adresse" asp-for="SellerEmail" />
                                    </div>
                                    <span asp-validation-for="SellerEmail"></span>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="tel" placeholder="Telefonnummer" asp-for="SellerPhone" />
                                    </div>
                                    <span asp-validation-for="SellerPhone"></span>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input type="checkbox" asp-for="HasKita" />
                                        <label asp-for="HasKita">Kind besucht das ev. Familienzentrum a.d. Friedenskirche</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input type="checkbox" asp-for="HasGoldenRules" />
                                        <label asp-for="HasGoldenRules">@Html.DisplayNameFor(m => m.HasGoldenRules)</label>
                                        <a target="_blank" rel="noopener noreferrer" href="https://mein-kinderkram.de/die-goldenen-regeln/">(Link)</a>
                                    </div>
                                    <span asp-validation-for="HasGoldenRules"></span>
                                </div>
                                <div class="field">
                                    Größe der Kleidungsstücke, die verkauft werden (optional):
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                                <input type="checkbox" value="0" name="SellerClothing" id="SellerClothing0" />
                                                <label for="SellerClothing0">@clothingConverter.IndexToString(0)</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input type="checkbox" value="1" name="SellerClothing" id="SellerClothing1" />
                                                <label for="SellerClothing1">@clothingConverter.IndexToString(1)</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input type="checkbox" value="2" name="SellerClothing" id="SellerClothing2" />
                                                <label for="SellerClothing2">@clothingConverter.IndexToString(2)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                                <input type="checkbox" value="3" name="SellerClothing" id="SellerClothing3" />
                                                <label for="SellerClothing3">@clothingConverter.IndexToString(3)</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input type="checkbox" value="4" name="SellerClothing" id="SellerClothing4" />
                                                <label for="SellerClothing4">@clothingConverter.IndexToString(4)</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input type="checkbox" value="5" name="SellerClothing" id="SellerClothing5" />
                                                <label for="SellerClothing5">@clothingConverter.IndexToString(5)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="button is-block is-info is-fullwidth">Registrieren</button>
                            </fieldset>
                        </form>

                    </div>

                    <p class="has-text-grey has-text-centered">
                        GT Kram &nbsp;·&nbsp;
                        <a href="/Privacy">Datenschutz</a> &nbsp;·&nbsp;
                        <a href="/">Startseite</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="column is-6 is-hidden-mobile">
        <div class="hero is-fullheight register-seller-bg">
        </div>
    </div>

</div>

@section Scripts 
{
    <script type="text/javascript">
        $(function () {
            window.history.forward();
            window.onload = function () { window.history.forward(); }
        });
    </script>
}
