@page "/Bazaars"
@model GtKram.WebApp.Pages.Bazaars.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    var dateConverter = new GermanDateTimeConverter();
    var eventConverter = new EventConverter();
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="columns is-gapless is-mobile mb-2 is-height-2-5">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb()</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="menu-action">
                            <span class="icon is-small">
                                <i class="fas fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="menu-action" role="menu">
                        <div class="dropdown-content">
                            <a href="@(Url.PageLink("Add"))" class="dropdown-item">
                                Kinderbasar anlegen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            @if (Model.Items.Length == 0)
            {
                <div>Keine Kinderbasare gefunden.</div>
            }
            @foreach (var i in Model.Items)
            {
                <div class="list-item">
                    <div class="list-item-image">
                        <i class="fas fa-store fa-2x has-text-info"></i>
                    </div>
                    <div class="list-item-content">
                        <div class="list-item-title">@eventConverter.Format(i.Event)</div>
                        <div class="list-item-description">
                            <span class="tag is-rounded is-success)">@i.RegistrationCount @(i.RegistrationCount == 1 ? "Registrierung" : "Registrierungen")</span>
                            @if (!string.IsNullOrWhiteSpace(i.Event.Address))
                            {
                            <span class="tag is-rounded">@i.Event.Address</span>
                            }
                        </div>
                    </div>
                    <div class="list-item-controls">
                        <div class="buttons is-right">
                            <a class="button" href="@(Url.PageLink("Sellers", null, new { eventId = i.Event.Id }))">
                                <span class="icon is-small"><i class="fa-solid fa-address-book"></i></span>
                            </a>
                            <a class="button" href="@(Url.PageLink("Edit", null, new { id = i.Event.Id }))">
                                <span class="icon is-small"><i class="fa-solid fa-pen"></i></span>
                            </a>
                            <div class="dropdown is-hoverable is-right">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="row-action">
                                        <span class="icon is-small">
                                            <i class="fas fa-ellipsis-vertical"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="row-action" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item copy-link" href="#" data-url="@(Url.PageLink("Register", null, new { id = i.Event.Id }))">
                                            Link für Registrierungen kopieren
                                        </a>
                                        <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="@(Url.PageLink("Register", null, new { id = i.Event.Id }))">
                                            Link für Registrierungen öffnen
                                        </a>
                                        <hr class="dropdown-divider" />
                                        <a class="dropdown-item open-modal" href="#"
                                           data-target="#deleteEventModal"
                                           data-url="@(Url.PageLink(string.Empty, "delete", new { id = i.Event.Id }))">
                                            Kinderbasar löschen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</section>

@await Html.PartialAsync("_Footer")

@Html.CreateModalTemplateWithOkCancel(
    "deleteEventModal",
    "Kinderbasar löschen",
    "Möchtest du wirklich den ausgewählten Kinderbasar löschen?")

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            handleModal({
                id: '#deleteEventModal',
                token: {@Html.AjaxCsrfToken()},
                confirm: {
                    dataurl: 'url',
                    action: function () {
                        window.location.reload();
                    },
                    toast: {
                        success: 'Kinderbasar wurde gelöscht.',
                        failed: 'Kinderbasar konnte nicht gelöscht werden.'
                    }
                }
            });

        });
    </script>
}
